body {
    font-family: 'Inconsolata', monospace;
    background-color: #FFFFF4;
}

#app {
    margin: 5%;
}

h1 {
    margin-left: 5px;
   font-weight: bold;
   font-size: 45px;
   color: #026A5F;
   margin-bottom: 7px;
}

.searchBar {
   width: 70%;
   height: 30px;
   margin: 1em;
   padding: 0.3em;
   background-color: #FFFFF2;
   border: 2px solid #e4e4e4;
}

.dataSubmit{
   display: flex;
   margin: 1em;
}

input[type=submit] {
   cursor:pointer;
   width: 56px;
   height: 35px;
   background: #69C6BC;
   display: none;
}

#description{
    font-size: 16px;
    margin-bottom: 5px;
    margin: 1em;
}
#result{
    font-size: 16px;
    margin: 1em;
}

.noteswrapper {
    display: flex;
    flex-direction: row;
}

.rendered-note{
    padding: 0.5em;
    border-bottom: 1px solid #e4e4e4;
}

.rendered-note > li {
    list-style-type: none;
}

.rendered-note > button {
    cursor:pointer;
    width: 56px;
    height: 35px;
    background: #69C6BC;
}

