body {
  font-family: 'Inconsolata', monospace;
  background-color: #fffff4;
}

#app {
  margin: 5%;
}

h1 {
  margin-left: 5px;
  font-weight: bold;
  font-size: 45px;
  color: #026a5f;
  margin-bottom: 7px;
  text-align: center;
}

h2 {
  color: #026a5f;
}

.restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.entry {
  margin: 2px;
  width: 30%;
}
.reviews {
  border-bottom: 1px solid black;
  margin: 5px;
}

form {
  text-align: center;
}

input {
  text-align: center;
  width: 500px;
  height: 50px;
}

.btn {
  background-color: #026a5f;
  height: 30px;
  margin: 2px;
}

.btn--positive {
  background-color: peachpuff;
  height: 30px;
}

.btn--negative {
  background-color: maroon;
  height: 30px;
}

.saved {
  border-bottom: 1px solid black;
}
